[submodule "vendor/uuidjs"]
	path = vendor/uuidjs
	url = https://github.com/LiosK/UUID.js.git
[submodule "vendor/showdown"]
	path = vendor/showdown
	url = https://github.com/showdownjs/showdown.git
[submodule "vendor/rickdom"]
	path = vendor/rickdom
	url = https://github.com/hasegawayosuke/rickdom.git
[submodule "vendor/mousetrap"]
	path = vendor/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
[submodule "vendor/jquery.ex-resize"]
	path = vendor/jquery.ex-resize
	url = https://github.com/cyokodog/jquery.ex-resize.git
[submodule "vendor/text-hatena.js"]
	path = vendor/text-hatena.js
	url = https://github.com/yune-kotomi/text-hatena.js.git
