<% @title = "文書一覧" %>
<div class="documents">
  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric title">
            <%= link_to document.body['title'], :controller => 'drive/documents', :action => :show, :id => document.id %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <div class="prev"></div>

  <div class="next">
    <%= link_to url_for(:action => :index, :next_page => @next_page), :rel => 'next' do %>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">navigate_next</i>
      </button>
    <% end if @next_page %>
  </div>
</div>

<% content_for :navigation do %>
  <%= link_to users_logout_path, :class => 'mdl-navigation__link' do %>
    <i class="material-icons">person_outline</i>
    ログアウト
  <% end %>
<% end %>
