<% @title = 'Google Drive™へ追加しました' %>

<div class="installed">
  <p>
    <%= link_to 'Google Drive™', 'https://drive.google.com/drive/' %>
    へ追加しました。「新規」ボタンからご利用下さい。
  </p>

  <%= link_to image_tag('drive_new.jpg', :alt => '画面例'), 'https://drive.google.com/drive/' %>
</div>
