<%
  if params[:archived]
    @title = "保存記録"
  else
    @title = "文書一覧"
  end
 %>

<div class="documents">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric title">題名</th>
        <th class="mdl-data-table__cell--non-numeric updated">移行状態</th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric title">
            <%= document.title %>
          </td>

          <td class="updated">
            <% if document.google_document_id.nil? %>
              移行前
            <% else %>
              <%= link_to '移行完了', :controller => 'drive/documents', :action => :show, :id => document.google_document_id %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate(@documents) %>
