<% @title = '文書公開機能は廃止されました' %>

<div class="document">
  <h2>Googleドライブへの移行について</h2>
  <p>
    カケラの樹は文書をGoogleドライブに保存するようになりました。
    それに伴い、本サイトでの文書公開機能は廃止されております。
  </p>
  <p>
    今までの文書は移行処理を行うことでGoogleドライブにコピーされ、引き続きお使いいただけます。<%= link_to 'トップページ', root_path %>よりお手続き下さい。
  </p>
</div>
