@import "materialize";

nav {
  a.button-collapse {
    display: block !important;
  }

  li>a {
    display: block;
  }
}

.card {
  .card-action {
    text-align: right;

    i {
      @extend .grey-text, .text-darken-1;
      font-size: 25px;
    }
  }
}

.pagination {
  span.page.current>span {
    @extend .btn-flat, .waves-effect;
    cursor: auto;
    font-weight: bold;
  }
}

@import "users";
@import "documents";
