@import "materialize";

nav {
  a.button-collapse {
    display: block !important;
  }

  li>a {
    display: block;
  }
}

.card {
  .card-action {
    display: flex;
    justify-content: space-between;
    text-align: right;

    a {
      margin: 0;
      i {
        @extend .grey-text, .text-darken-1;
        font-size: 25px;
      }
    }

  }
}

.pagination {
  span.page.current>span {
    @extend .btn-flat, .waves-effect;
    cursor: auto;
    font-weight: bold;
  }
}

@import "users";
@import "documents";
