.mdl-layout__drawer {
  header {
    padding: 16px;
    display: flex;
    align-items: center;

    .username {
      flex: 1;
      margin: 4px;
    }
  }

  nav {
    a.mdl-navigation__link {
      align-items: center;
      display: flex !important;
      font-size: 14px;

      i {
        margin: 0 4px 0 -4px;
      }
    }
  }
}

.pagination {
  display: flex;
  margin: 16px 80px 24px;

  .prev,.next {
    width: 50%;
  }

  .next {
    text-align: right;
  }
}

.right-bottom-fab {
  bottom: 140px;
  position: fixed;
  right: 32px;
  z-index: 1000;
}
