@import "material";

.mdl-layout__drawer {
  header {
    padding: 16px;

    .avatar-dropdown {
      display: flex;
      padding: 5px 0;

      .username {
        flex: 1;
        padding: 6px 0 0 0;
      }
    }
  }
}

.pagination {
  display: flex;
  margin: 16px 80px 24px;

  .prev,.next {
    width: 50%;
  }

  .next {
    text-align: right;
  }
}

.right-bottom-fab {
  bottom: 140px;
  position: fixed;
  right: 32px;
}
