body.documents {
  .document {
    margin: auto;
    max-width: 800px;

    .contents {
      box-sizing: border-box;
      padding: 16px;

      .content {
        padding: 0 0 16px 0;

        .body {
          font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
        }

        h3,h4 {
          &>a {
            text-decoration: none;
          }
        }
      }
    }

    .histories {
      li {
        display: flex;
        .from,.to {
          width: 34px;
        }
        label {
          span.label {
            opacity: 0;
            font-size: 1px;
          }
        }
      }
    }

    .toc {
      box-sizing: border-box;
      padding: 16px;
      width: 100%;

      &>.mdl-card {
        width: 100%;
      }

      .mdl-card__title {
        padding-bottom: 0;

        h2 {
          flex: 1;
          font-size: 24px;
          margin: 0;

          a {
            text-decoration: none;
          }
        }
      }

      .mdl-card__supporting-text {
        padding-top: 0;

        ol {
          list-style-type: none;
          padding-left: 16px;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .documents {
    padding: 16px;

    table {
      width: 100%;

      .title {
        a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }

        white-space: normal;
      }

      .updated {
        text-align: center;
        width: 20em;

        @media (max-width: $grid-tablet-breakpoint) {
          display: none;
        }
      }

      td.buttons {
        width: 106px;

        div.buttons {
          display: flex;
          margin-top: -6px;
        }
      }
    }
  }

  .password-prompt {
    display: block;

    .mdl-card__actions {
      text-align: right;
    }
  }
}

#document-editor {
  padding: 0;

  .content-view {
    margin-bottom: 4px;
    &>div{
      padding: 4px;

      .scroll-container {
        overflow: auto;
        outline: none;
      }

      .content {
        margin: 4px;
        padding: 4px;

        .display {
          .footer {
            display: flex;

            button {
              margin-top: 24px;
            }

            ul.tags {
              display: flex;
              flex: 1;

              li {
                display: block;
                padding: 4px 8px;
              }
            }
          }
        }

        .editor {
          div.mdl-textfield {
            width: 100%;
          }

          div.footer {
            button {
              margin: 35px 0 0 5px;
            }
            display: flex;
            div.mdl-textfield {
              flex: 1;
            }
          }
        }

        &.root {
          div.buttons {
            text-align: right;
          }

          div.footer button {
            margin-top: 177px;
          }
        }
      }
    }
  }

  .tree-view {
    margin-bottom: 4px;
    .scroll-container {
      overflow: auto;
      outline: none;
    }
    div.tree {
      padding: 4px;

      .children {
        padding-left: 28px;

        .leaf {
          list-style-type: none;
          margin: 2px 6px;
          position: relative;

          .body {
            display: flex;

            .content {
              cursor: pointer;
              flex: 1;
              line-height: 32px;
              margin-bottom: 2px;
              padding: 0 6px;
              white-space: nowrap;

              &.active {
                background-color: $button-hover-color;
              }

              &.hover {
                background-color: $button-active-color;
              }

              &.selected {
                font-weight: bold;
              }
            }

            .handle {
              margin-right: 6px;
            }
          }

          .brother-droppable {
            height: 32px;
            margin: -34px 0 0 -4px;
            width: 32px;

            &.active {
              background-color: $button-hover-color;
            }

            &.hover {
              background-color: $button-active-color;
            }
          }

          .handle {
            cursor: grab;
            margin-top: 4px;
          }
        }
      }

      >.root {
        cursor: pointer;
        padding: 2px 6px;

        &.active {
          background-color: $button-hover-color;
        }

        &.hover {
          background-color: $button-active-color;
        }

        &.selected {
          font-weight: bold;
        }
      }
    }
  }
}

nav {
  .tag-list-title {
    margin: 0 16px;
  }

  .editor-view-tags {
    ul {
      li {
        list-style-type: none;
        padding: 0 4px;
      }
    }
  }
}

#save-indicator {
  display: none;
  width: 100%;
}

.modal-card {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000;

  .modal-container {
    display: flex;
    height: 100%;
    width: 100%;

    &>.mdl-card {
      margin: auto;
    }
  }
}

#password-box {
  display: flex;

  .mdl-textfield {
    flex: 1;
  }

  button {
    margin-top: 16px;
  }
}

#import-dialog {
  .mdl-button--file {
    input {
      cursor: pointer;
      height: 100%;
      right: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 300px;
      z-index: 4;
    }
  }

  .mdl-textfield--file {
    .mdl-textfield__input {
      box-sizing: border-box;
      width: calc(100% - 32px);
    }
    .mdl-button--file {
      right: 0;
    }
  }

  .primary-button {
    text-align: right;
  }
}
