@import "material";
// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.documents {
  .documents {
    padding: 16px;

    table {
      width: 100%;

      .title {
        a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }
      }

      .updated {
        text-align: center;
        width: 20em;
      }

      td.buttons {
        width: 106px;

        div.buttons {
          display: flex;
          margin-top: -6px;
        }
      }
    }
  }
}

#document-editor {
  padding: 0;

  .content-view {
    margin-bottom: 4px;
    &>div{
      padding: 4px;

      .scroll-container {
        overflow: auto;
      }

      .content {
        margin: 4px;
        padding: 4px;

        .display {
          .footer {
            display: flex;

            button {
              margin-top: 24px;
            }

            ul.tags {
              display: flex;
              flex: 1;

              li {
                display: block;
                padding: 4px 8px;
              }
            }
          }
        }

        .editor {
          div.mdl-textfield {
            width: 100%;
          }

          div.footer {
            button {
              margin: 35px 0 0 5px;
            }
            display: flex;
            div.mdl-textfield {
              flex: 1;
            }
          }
        }

        &.root {
          div.buttons {
            text-align: right;
          }

          div.footer button {
            margin-top: 177px;
          }
        }
      }
    }
  }

  .tree-view {
    margin-bottom: 4px;
    .scroll-container {
      overflow: auto;
    }
    div.tree {
      padding: 4px;

      .children {
        padding-left: 28px;

        .leaf {
          list-style-type: none;
          margin: 2px 6px;
          position: relative;

          .body {
            display: flex;

            .content {
              cursor: pointer;
              flex: 1;
              line-height: 32px;
              margin-bottom: 2px;
              padding: 0 6px;
              white-space: nowrap;

              &.active {
                background-color: $button-hover-color;
              }

              &.hover {
                background-color: $button-active-color;
              }

              &.selected {
                font-weight: bold;
              }
            }

            .handle {
              margin-right: 6px;
            }
          }

          .brother-droppable {
            height: 32px;
            margin: -34px 0 0 -4px;
            width: 32px;

            &.active {
              background-color: $button-hover-color;
            }

            &.hover {
              background-color: $button-active-color;
            }
          }

          .handle {
            cursor: grab;
            margin-top: 4px;
          }
        }
      }

      >.root {
        cursor: pointer;
        padding: 2px 6px;

        &.active {
          background-color: $button-hover-color;
        }

        &.hover {
          background-color: $button-active-color;
        }

        &.selected {
          font-weight: bold;
        }
      }
    }
  }
}

nav {
  .tag-list-title {
    margin: 0 16px;
  }

  .editor-view-tags {
    ul {
      li {
        list-style-type: none;
        padding: 0 4px;
      }
    }
  }
}

#save-indicator {
  display: none;
  width: 100%;
}

.modal-card {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000;

  .modal-container {
    display: flex;
    height: 100%;
    width: 100%;

    &>.mdl-card {
      margin: auto;
    }
  }
}
