body.users {
  .documents {
    .card {
      .card-content {
        height: 222px !important;

        &>a {
          display: block;
          &>p {
            min-height: 140px;
          }
        }
      }
    }
  }
}
