body.users {
  .documents {
    padding: 16px;

    table {
      width: 100%;

      .title {
        a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }

        white-space: normal;
      }

      .updated {
        text-align: center;
        width: 20em;

        @media (max-width: $grid-tablet-breakpoint) {
          display: none;
        }
      }

      td.buttons {
        width: 140px;

        div.buttons {
          display: flex;
          margin-top: -6px;
        }
      }
    }
  }

  .profile {
    box-sizing: border-box;
    padding: 16px 16px 0;
    width: 70%;

    @media (max-width: 800px) {
      width: 100%;
    }

    &>.mdl-card {
      width: 100%;
    }
  }
}
