body.users {

  .documents {
    padding: 16px;

    table {
      width: 100%;

      .title {
        a {
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }
      }

      .updated {
        text-align: center;
        width: 20em;
      }

      td.buttons {
        width: 140px;

        div.buttons {
          display: flex;
          margin-top: -6px;
        }
      }
    }
  }
}
