<div class="content">
  <h4><%= link_to "#{parent_index}#{content_counter + 1}. #{title(content)}", "#toc-#{content['id']}", :id => "content-#{content['id']}" %></h4>

  <div class="body">
    <%= body(content, @document.markup) %>
  </div>
</div>

<% if content['children'].present? %>
  <%= render :partial => 'documents/show/content.html',
    :collection => content['children'],
    :locals => {:parent_index => "#{parent_index}#{content_counter + 1}."} %>
<% end %>
