<li>
  <%= link_to "#{parent_index}#{toc_counter + 1}. #{title(toc)}", "#content-#{toc['id']}", :id => "toc-#{toc['id']}" %>
  <% if toc['children'].present? %>
    <ol>
      <%= render :partial => 'documents/show/toc',
        :collection => toc['children'],
        :locals => {:parent_index => "#{parent_index}#{toc_counter + 1}."} %>
    </ol>
  <% end %>
</li>
