<h1>JavascriptTest#index</h1>
<p>Find me in app/views/javascript_test/index.html.erb</p>

<div id="content"></div>
<button id="edit">edit</button>
<button id="show">show</button>
<button id="set-leaves">set leaves</button>
<div id="test"></div>
